{% extends 'core/menu.html' %} {% block content %}
<div class="cabecera">
  <h1>Hola "Nombre de Usuario"</h1>
  <h4></h4>
  <div id="fecha"></div>
</div>

<script>
  // Obtener la fecha actual
  const fechaActual = new Date();

  // Opciones para formatear la fecha
  const opciones = { year: "numeric", month: "long", day: "numeric" };

  // Formatear la fecha
  const fechaFormateada = fechaActual.toLocaleDateString("es-ES", opciones);

  // Mostrar la fecha en el div
  document.getElementById("fecha").textContent = fechaFormateada;
</script>

{% endblock %}
