{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lavandería Hospital - Login</title>
    <link rel="icon" href="{% static 'imagenes/logoHospital.png' %}" />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
  </head>
  <body>
    <div class="login-box">
      <div class="login-header">
        <header>Iniciar sesión</header>
        <!--Formulario LOGIN-->
      <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <div class="input-submit">
          <button type="submit" class="submit-btn">Iniciar sesión</button>
        </div>
      </form>

       <!--FIN Formulario LOGIN-->
      <div class="forgot">
        <section>
          <a href="#">Olvidé mi contraseña</a>
        </section>
      </div>
    </div>
  </body>
</html>
